/* index.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121f31c3; /* Dark background */
  color: #abb2bf; /* Light text color for readability */
}

a {
  color: #0d6efd; /* Bootstrap primary blue for links */
}

a:hover {
  color: #0a58ca; /* A darker blue for hover state */
}



.button {
  background-color: #61dafb; /* Light blue color matching the appLink */
  color: #282c34; /* Dark text color for contrast */
  border: none; /* No border for a modern look */
  padding: 10px 20px; /* Adequate padding for comfortable click */
  margin-inline-end: 10px;
  border-radius: 8px; /* Rounded corners to match the codeContainer style */
  font-family: 'Courier New', Courier, monospace; /* Consistent font style */
  text-transform: uppercase; /* Uppercase text for a distinctive look */
  cursor: pointer; /* Changes cursor to indicate button functionality */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

button:hover {
  background-color: #4a90e2; /* Slightly darker shade of blue for hover state */
  color: #ffffff; /* White text color on hover for better visibility */
}

button:disabled {
  background-color: #61dafb; /* Light blue color matching the appLink */
  color: #282c34; /* Dark text color for contrast */
  opacity: 0.5;
  cursor: not-allowed;
}

.ticTacToeGame .board {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  max-width: 300px;
  margin: auto;
}

.ticTacToeGame .cell {
  width: 91px;
  height: 91px;
  color: #abb2bf;
  background-color: #282c34; /* Dark background for code-style */
  border: 1px #abb2bf solid;
  font-size: 24px;
  cursor: pointer;
}

.ticTacToeGame .winnerMessage {
  text-align: center;
  margin-top: 20px;

}

.promptBox, .nicknameInput, .postGame {
  background-color: #282c34;
  color: #abb2bf;
  font-family: 'Courier New', monospace;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
}

.nicknameInput input {
  margin: 10px 0;
}

.highScoresContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items horizontally */
  width: 100%; /* Full width of the parent */
  max-width: 600px; /* Maximum width of the container */
  margin: auto; /* Center the container */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  border-radius: 8px; /* Match your style's border radius */
  background-color: #282c34; /* Dark background from your style */
}

.highScoresList {
  width: 100%; /* Full width of the container */
  list-style-type: none; /* No bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.highScoreItem {
  color: #61dafb; /* Light blue color for text */
  font-family: 'Courier New', Courier, monospace; /* Monospace font */
  padding: 10px 0; /* Padding on top and bottom */
  border-bottom: 1px solid #abb2bf; /* Separator between items */
}

.highScoreItem:last-child {
  border-bottom: none; /* No border for the last item */
}

.highScoreItem span.rank {
  color: #e06c75; /* Highlight color for the rank */
  font-weight: bold; /* Making the rank number bold */
  margin-right: 10px; /* Space between rank and name */
}

.highScoreItem span.name {
  margin-right: 5px; /* Space between name and score */
}

.container {
    width: 60%;
}


.infoContainer {
    text-align: left;
    padding-left: 20px;
}

.codeContainer {
    background-color: #282c34; /* Dark background for code-style */
    color: #abb2bf; /* Light text color for readability */
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.codeContainer_fb {
    background-color: #282c34; /* Dark background for code-style */
    color: #abb2bf; /* Light text color for readability */
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    align-self: center;

}

.variable {
    color: #e06c75; /* Highlight color for variables */
}

.appLink, .appDescription {
    color: #61dafb; /* A light blue color, you can change it as needed */
    text-decoration: none; /* Removes underline from the link */
    white-space: normal; /* Allows text to wrap */
    overflow-wrap: break-word; /* Ensures long words do not overflow */
    word-wrap: break-word; /* For older browsers */
    word-break: break-word; /* To prevent overflow in case of unbreakable words */
}

.appLink:hover {
    text-decoration: underline; /* Adds an underline on hover for the link */
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: auto;
  color: #abb2bf;
}
.formField {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  color: #abb2bf; /* Light text color for readability */
  padding: 8px 16px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
}

.formField:focus {
  outline: none;
  border-bottom-color: #0a58ca; /* Or any color that fits your theme */
}

.formField:hover {
  border-bottom-color: #294269 ; /* Lighter blue for hover state */
}

.formButton {
  background-color: #61dafb; /* Light blue color matching the appLink */
  color: #282c34; /* Dark text color for contrast */
  border: none; /* No border for a modern look */
  padding: 10px 20px; /* Adequate padding for comfortable click */
  border-radius: 8px; /* Rounded corners to match the codeContainer style */
  font-family: 'Courier New', Courier, monospace; /* Consistent font style */
  text-transform: uppercase; /* Uppercase text for a distinctive look */
  cursor: pointer; /* Changes cursor to indicate button functionality */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.formButton:hover {
  background-color: #4a90e2; /* Slightly darker shade of blue for hover state */
  color: #ffffff; /* White text color on hover for better visibility */
}

.formButton:active {
  background-color: #083c74; /* Even darker blue for active state */
}

.formButton:focus {
  outline: none; /* Optional: removes the outline on focus */
}

.formLabel {
  color: #abb2bf; /* Light text color for readability */
  font-weight: bold;
  margin-bottom: 8px; /* Spacing below label */
  display: block; /* Ensures label takes its own line */
  }

  .fieldGroup {
  margin-bottom: 16px; /* Space between each field group */
  }

  .contactSection {
    text-align: center; /* Center the button if desired */
    padding: 20px; /* Add some padding around the section */
}

.contactButton {
    background-color: #4a74b3; /* Bootstrap primary blue */
    color: #abb2bf; 
    padding: 10px 20px;
    text-decoration: none; /* Removes underline from the link */
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;

    /* Add a hover effect */
    &:hover {
        background-color: #294269;
        color: #abb2bf;
    }

    /* Add a focus effect */
    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.5);
    }
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add any additional styling as needed */
}

.logo {
  height: 50px; /* Set both logos to the same height */
  margin: 10px;
  width: auto; /* Maintain aspect ratio */
}