.container {
    width: 60%;
}


.infoContainer {
    text-align: left;
    padding-left: 20px;
}

.codeContainer {
    background-color: #282c34; /* Dark background for code-style */
    color: #abb2bf; /* Light text color for readability */
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.codeContainer_fb {
    background-color: #282c34; /* Dark background for code-style */
    color: #abb2bf; /* Light text color for readability */
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    align-self: center;

}

.variable {
    color: #e06c75; /* Highlight color for variables */
}

.appLink, .appDescription {
    color: #61dafb; /* A light blue color, you can change it as needed */
    text-decoration: none; /* Removes underline from the link */
}

.appLink:hover {
    text-decoration: underline; /* Adds an underline on hover for the link */
}
